div.card-custom
{
	position: fixed;
	top: 25%;
	left: 35%;
	width: 30%;
	background-color: #faf5ed;
	-webkit-box-shadow: 1px 3px 42px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 3px 42px -9px rgba(0,0,0,0.75);
	box-shadow: 1px 3px 42px -9px rgba(0,0,0,0.75);
}

div.card-img {	
	position: fixed;
	top: 5%;
	left: 40%;
	width: 20%;			
	background: rgba(250, 245, 237, 0.5);
}

img.img-style {
	width: 100%;
  	height: auto;
}

.color-body {
	background-color: #f2f4f4;
}

.color-collapse {
	background-color: #B5C6E9;
}

.logo-menu {	
	height: 9em;
	width: 20em;
	z-index: 999 !important;
}

.vertical {
	vertical-align: middle;
}

.contenedor-menu .menu ul {
	display: none;
}

.list-group div ul {
	list-style: none;
	padding-left: 0px;
	display: none;
	color: #AEADBF;
}

.img-avatar {	
	border-radius: 50em;
	width: 36px;
	height: 36px;
	margin: 0 10px;
}