.bg-body {
	
	background: url('/img/bg-finanza.png') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-custom {
	background-color: #DEDEDC;
}

.card-custom {
	
	background-color:rgba(222,222,220,0.4);
	
	position: fixed;
	top: 30%;
	left: 20%;
	width: 30%;
	height: 30%;
	
}

.card-custom-register {

	background-color:rgba(222,222,220,0.4);
	
	position: fixed;
	top: 30%;
	left: 15%;
	width: 40%;
	height: 40%;
	
}

.logo {

	position: fixed;
	top: 10%;
	left: 27%;
	width: 18%;
	height: 18%;

}

